{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Venus Template</title>
	<link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Oxygen:700" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'home.css' %}">
	<script src="https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js"></script>
</head>

<body class="is-boxed has-animations">
	<div class="body-wrap boxed-container">
		<header class="site-header text-light">
			<div class="container">
				<div class="site-header-inner">
					<div class="brand header-brand">
						<h1 class="m-0">
							<a href="#">
								<img class="header-logo-image" src="{% static 'logo.svg' %}" alt="Logo">
							</a>
						</h1>
					</div>
				</div>
			</div>
		</header>

		<main style="height: 100%;">
			<section class="hero text-center text-light">
				<div class="hero-bg" style="height: 100vh;"></div>
				<div class="hero-particles-container">
					<canvas id="hero-particles"></canvas>
				</div>
				<div class="container-sm">
					<div class="hero-inner">
						<div class="hero-copy">
							<h1 class="hero-title mt-0">Wellcome To ChatAPP</h1>
							<p class="hero-paragraph">Engoy using chat !!</p>
							<div class="hero-cta">
								<a class="button button-primary button-wide-mobile" href="{% url 'accounts:login' %}">Registration</a>
							</div>
						</div>
						<div class="mockup-container">
							<div class="mockup-bg">
								<img src="{% static 'iphone-hero-bg.svg' %}" alt="iPhone illustration">
							</div>
						</div>
					</div>
				</div>
			</section>



			<script src="{% static 'main.min.js' %}"></script>
</body>

</html>